<div id="top">
  <div class="top_title">
    <h1>リモートワークを賢く自己管理！</h1>
    <h2>My-Todo</h2>
  </div>
  <div class="top_btn">
    <div id="top_in">
      <p>使ってみる</p>
    </div>
    <div class="top_signin">
      <%= link_to "新規会員登録", "#" %>
    </div>
    <div class="top_login">
      <%= link_to "ログイン", "#" %>
    </div>
  </div>
</div>