a {
  text-decoration: none;
}

#top {
  width: 100vw;
  height: 100vh;
  background-image: url("../Yuu171226IMGL0015.jpg");
  background-size: cover;
  background-position: center;
  font-family: serif;
}

.top_title {
  width: 100%;
  height: 200px;
  font-size: 60px;
  text-align: center;
  line-height: 100px;
  padding: 50px 0;
}

.top_btn {
  width: 700px;
  text-align: center;
  margin: 0 auto;
}

.top_btn a {
  color: #000;
  font-weight: bold;
  font-size: 20px;
}

#top_in {
  width: 300px;
  height: 70px;
  background-color: #00ff77;
  margin: 0 auto;
  line-height: 70px;
  border-radius: 50px;
  opacity: 0.7;
  cursor: pointer;
  margin-bottom: 15px;
}

#top_in p {
  font-size: 20px;
  font-weight: bold;
}

.top_signin {
  width: 300px;
  height: 70px;
  background-color: #ff6347;
  margin: 0 auto;
  line-height: 70px;
  border-radius: 50px;
  border: 1px solid #ff6347;
  opacity: 0.7;
  margin-bottom: 15px;
}

.top_login {
  width: 300px;
  height: 70px;
  background-color: #87cefa;
  margin: 0 auto;
  line-height: 70px;
  border-radius: 50px;
  border: 1px solid #87cefa;
  opacity: 0.7;
  margin-bottom: 15px;
}