<div id="user_show">
  <div id="app_title">
    <%= link_to "My-Todo", tasks_path %>
  </div>
  <div class="show_field">
    <div class="user_data">
      <div class="show_image">
        <img class="show_user_image" src="/assets/icon_158580_64.png" alt="デフォルト画像">
      </div>
      <div class="show_nickname">
        <p>shogo</p>
      </div>
    </div>
    <div class="btns">
      <ul>
        <li class="edit_btn"><%= link_to "編集" %></li>
        <li class="logout_btn"><%= link_to "ログアウト" %></li>
        <li class="delete_btn"><%= link_to "退会" %></li>
      </ul>
    </div>
  </div>
</div>