@media screen and (min-width: 960px){
  #edit_btn {
    width: 100%;
    height: 100%;
    background-color: #00ff7f;
    font-size: 18px;
    font-weight: bold;
    outline: none;
    border: none;
    cursor: pointer;
  }
  
  .task_edit_form {
    width: 600px;
    height: 500px;
    background-color: #fff;
    margin: 0 auto;
    position: relative;
  }
  
  .task_cansel_btn {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 30px;
    color: #000;
  }
}
/* スマートフォン */
@media screen and (max-width: 560px){
  #edit_btn {
    width: 100%;
    height: 100%;
    background-color: #00ff7f;
    font-size: 18px;
    font-weight: bold;
    outline: none;
    border: none;
    cursor: pointer;
  }
  
  .task_edit_form {
    width: 100%;
    height: 500px;
    background-color: #fff;
    margin: 0 auto;
    position: relative;
  }
  
  .task_cansel_btn {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 30px;
    color: #000;
  }
}
/* iPad */
@media screen and (min-width: 560px) and (max-width: 960px){
  #edit_btn {
    width: 100%;
    height: 100%;
    background-color: #00ff7f;
    font-size: 18px;
    font-weight: bold;
    outline: none;
    border: none;
    cursor: pointer;
  }
  
  .task_edit_form {
    width: 600px;
    height: 500px;
    background-color: #fff;
    margin: 0 auto;
    position: relative;
  }
  
  .task_cansel_btn {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 30px;
    color: #000;
  }
}