a {
  text-decoration: none;
}

#sign_in {
  width: 100vw;
  height: 100vh;
  background-image: url("../Yuu171226IMGL0015.jpg");
  background-size: cover;
  background-position: center;
  font-family: serif;
}

.top_title {
  width: 100%;
  font-size: 60px;
  text-align: center;
  line-height: 80px;
  padding: 20px 0;
}

.user_sign_in {
  width: 550px;
  height: 500px;
  background-color: #fff;
  margin: 0 auto;
}

.sign_up_path {
  margin: 0 auto;
  text-align: center;
  line-height: 150px;
}

.sign_up_path_btn {
  display: inline-block;
  width: 330px;
  background-color: #ff6347;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  outline: none;
  line-height: 50px;
  color: #000;
}

.sign_in_input {
  width: 350px;
  margin: 0 auto;
}

.sign_in_field {
  height: 80px;
}

.field_input {
  width: 350px;
  height: 40px;
  font-size: 15px;
  padding: 0 10px;
  outline: none;
  border: none;
  border-bottom: 1px solid;
}

.sign_in_action {
  width: 330px;
  margin: 30px auto;
}

.sign_in_btn {
  width: 330px;
  height: 50px;
  background-color: #87cefa;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  outline: none;
  border: none;
}
